.myimg {
    height: 40vh;
    border-radius: 50%;
    border: 5px solid #CB3C61;
}
.intro {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 100px;
}
.hi {
    padding-top: 80px;
}

.hand {
    height: 5vh;
}
h1 {
    font-size: 30px;
}
span {
    color: #CB3C61;
}
.my p {
    font-size: 20px;
}
.pro p {
    font-size: 20px;
}
.animated-text {
    position: relative;
    display: inline-block;
    animation: animate-text 2s ease-in-out infinite;
  }
  
  @keyframes animate-text {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }


  @media (max-width : 768px) {
    .intro {
      flex-direction : column;
      padding-top: 80px;
      padding-bottom: 100px;
      padding-left: 30px;
      gap: 30px;
    }
    .hi {
      padding-top: 10px;
  }
  h1 {
    font-size: 20px;
   }
   .myimg {
    margin-left: 20px;
   }
  }