.pro {
    text-align: center;
    padding-top: 100px;
}
.one, .one1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 100px;
}
.one2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 100px;
    width: 100%;
}
.live {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.link {
    display: flex;
    gap: 10px;
}
.one img {
    height: 24vh;
}
.one2 img {
    height: 26vh;
}
.one1 img {
    height: 33vh;
}
.gpt {
    box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
    border-radius: 10px;
}
.gpt1 {
    box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
    border-radius: 10px;
}
.gpt2 {
    box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
    border-radius: 10px;
}
.gpt img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.gpt1 img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.gpt2 img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.project {
    padding: 20px;
}
.fiber {
    padding: 20px;
}
ion-icon {
    margin-top: 5px;
}


@media (max-width: 768px ) {
    .one, .one1 {
       flex-direction: column;
        gap: 40px;
        padding-top: 40px;
        margin-left: 33px;
    }
    .one2 {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        padding-top: 40px;
        margin-left: 33px;
    }
    .one img {
        width: 345px;
        object-fit: contain;
        margin-top: -35px;
    }
    .one2 img {
        width: 345px;
        object-fit: contain;
        margin-top: -35px;
    }
    .one1 img {
        width: 345px;
        object-fit: contain;
        margin-top: -70px;
    }   
    .gpt {
        width: 345px;
    }
    .one2 .gpt1 {
        width: 320px;
    }
   .gpt1 img {
    width: 320px;
    object-fit: contain;
    /* margin-top: -35px; */
   }
   .gpt2 img {
     width: 320px;
     object-fit: contain;
     /* margin-top: -35px; */
   }
   .gpt2 {
    width: 320px;
   }
   .project {
     margin-top: -30px;
   }
   .fiber {
    margin-top: -65px;
   }
}
