.my {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
figure {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
figure img {
    height: 8vh;
}

@media (max-width: 768px) {
    figure img {
        height: 4vh;
        margin-left: 10px;
        margin-right: 10px;
        object-fit : cover;
    }
}